@mixin shadow {
    box-shadow: 0 0 2px 0 gray;
}

@mixin border {
    border-radius: 3px;
}

@mixin button {
    background: linear-gradient(0deg, #f5f5f5 0%, #ffffff 100%);
    @include border;
    box-shadow: 0 1px 2px 0 gray;
    padding: 5px;
    color: gray;
    font-size: 12px;
}