<template>
  <div class="home">
    <Donate />
  </div>
</template>

<script>
// @ is an alias to /src
import Donate from '@/components/Donate.vue'

export default {
  name: 'Home',
  components: {
    Donate
  }
}
</script>

<style scoped>
  .home {
    display: flex;
    justify-content: center;
  }
</style>