<template>
  <div class="donate-container">
    <div class="options">
      <Button v-for="button in buttons" :key="button.amount" :text="button.text" :state="button.state" @click.native="amount = button.amount" />
    </div>
    <RichInput v-model="amount" type="number">
      <template v-slot:left>
        {{currency.symbol}}
      </template>
      <template v-slot:right>
        <Dropdown :value="currency" @input="onCurrencyChange" :values="currencies" :getTitle="(v) => v.code" />
      </template>
    </RichInput>
    <Button text="Donate" :state="donateButtonState" @click.native="donate" />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Button, { ButtonState } from "@/components/ui/Button.vue";
import RichInput from "@/components/ui/RichInput.vue";
import Dropdown from "@/components/ui/Dropdown.vue";

type Currency = typeof defaultCurrency;

const 
  presetsUsd = [40, 100, 200, 1000, 2500, 5000],
  // Использую переменную defaultCurrency чтобы не прибегать к currencies[0]
  // (читабельность + предотвращение проблем)
  defaultCurrency = {name: "US Dollar", code: "USD", symbol: "$", rate: 1},
  currencies: Currency[] = [
    defaultCurrency,
    {name: "Euro", code: "EUR", symbol: "€", rate: 0.897597},
    {name: "British Pound", code: "GBP", symbol: "£", rate: 0.81755},
    {name: "Russian Ruble", code: "RUB", symbol: "₽", rate: 63.461993}
  ]

interface PresetButton {text: string, state: ButtonState, amount: number}

export default Vue.extend({
  name: "Donate",
  data() {
    return {
      currency: defaultCurrency,
      // Как я понял в Vue нет хорошего способа добавлять локальные константы 
      // в контекст шаблона, и добавлять их в data считается нормой.
      // Также можно в created() хуке сделать так: this.currencies = currencies 
      currencies,
      amount: 40,
    };
  },
  computed: {
    donateButtonState(): ButtonState {
      return this.amount > 0 ? new ButtonState('accent') : new ButtonState('disabled')
    },
    /* 
    Кнопки можно сделать статичными и более быстрыми, но это намного больше кода,
    трудноподдерживаемый код и в обычном случае - экономия на спичках.
    */
    buttons (): PresetButton[] {
      
      return presetsUsd
        .map(usdAmount => {
          if (this.currency.code === 'USD')
            return usdAmount

          const 
            converted = usdAmount * this.currency.rate,
            roundBy = 
              converted < 50 ? 10 : 
              converted < 1000 ? 50 :
              converted < 10000 ? 100 :
              converted < 100000 ? 1000 :
                10000;

          return Math.round(converted / roundBy) * roundBy
        })
        .map(convertedAmount => ({
          amount: convertedAmount,
          text: this.currency.symbol + convertedAmount.toLocaleString('en-US'),
          state: convertedAmount === this.amount 
            ? new ButtonState('accent') 
            : new ButtonState('default'),
        }))
    }
  },
  methods: {
    onCurrencyChange(currency: Currency) {
      // В JS есть погрешности при работе с float, но они очень малы,
      // так как задание тестовое, не усложняю код 
      // (можно было предварительно умножить курсы на 1000000).
      this.amount = Math.round(this.amount * (currency.rate / this.currency.rate) ) 
      this.currency = currency;
    },
    async donate() {
      const res = await (await fetch('/donate', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          amount: this.amount,
          currency: this.currency.code
        }) 
  })).json()
      

      if(res.ok) {
        alert('Thank you for your donation!')
      }
      
    }
  },
  components: {
    Button,
    RichInput,
    Dropdown
  }
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.donate-container {
  @include shadow;
  @include border;
  background: whitesmoke;
  padding: 15px;
  // Адаптивное значение (например 30%) тоже будет работать. 
  width: 270px;
}

.options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.options .button-container {
  flex-basis: calc(100%/3 - 5px);
  margin-bottom: 5px;
  box-shadow: 0 1px 2px 0 #c1c1c1;
}
.options .button-container:not(:nth-child(3)) {
  margin-right: 5px;
}
</style>
