<template>
  <div :class="cssClass">
    {{text}}
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export class ButtonState {
  constructor(public value: 'default' | 'accent' | 'disabled') {}
}

export default Vue.extend({
  name: 'Button',
  computed: {
    cssClass(): string {
      return `button-container state-${this.state.value}`
    }
  },
  props: {
    text: String,
    state: ButtonState
  }
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

.button-container {
  @include button;
  padding: 10px;
  cursor: pointer;
}

.state-accent {
    background: #4d84d5;
    color: #fff;
}

.state-disabled {
  cursor: default;
  color: #b9b9b9;
}

</style>
