<template>
  <div class="dropdown">
    <div class="dropdown-trigger" @click="triggerOptions">
      <div>{{current.title}}</div>
      <div class="triangle"></div>  
    </div> 
    <ul v-if="showOptions" class="options">
      <li v-for="option in options" :key="option.title" @click="current = option; showOptions = false">{{option.title}}</li>
    </ul>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

interface Option {
  title: string,
  value: any
}

interface Props {
  getTitle: (v: any) => string
  value: any
  values: any[]
}

interface Data {
  showOptions: boolean
}

interface Computed {
  current: Option,
  options: Option[]
}

interface Methods {
  triggerOptions(): void
}

export default Vue.extend<Data, Methods, Computed, Props>({
  name: 'Dropdown',
  props: {
    getTitle: Function,
    value: [String, Object],
    values: Array
  },
  data() {
    return {
      showOptions: false
    }
  },
  computed: {
    current: {
      get(): Option {
        return {title: this.getTitle(this.value), value: this.value}
      },
      set(option): void {
        this.$emit('input', option.value)
      }
    },
    options(): Option[] {
      return this.values.map(value => ({title: this.getTitle(value), value}))
    }
  },
  methods: {
    triggerOptions(): void {
      this.showOptions = !this.showOptions
    }
  }
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">


.dropdown {
  font-size: 12px;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
}

.dropdown-trigger {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.dropdown-trigger .triangle {
  margin: 0 3px;
}

.options {
    @include border;
    position: absolute;
    background: #fff;
    padding: 10px;
    box-shadow: 0 0px 2px 0 gray;
    margin-top: 4px;
}

.options li {
  padding: 5px;
  cursor: pointer;
}

.options li:hover {
  color:cornflowerblue;
}


</style>
