<template>
  <div class="rich-input">
    <slot name="left"></slot>
    <input :type="type" v-model="internalVal">
    <slot name="right"></slot>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

interface Props {
  type: 'text' | 'number' | 'password'
  value: string | number
}

interface Data {
  
}

interface Computed {
  internalVal: Props['value']
}

interface Methods {
}

export default Vue.extend<Data, Methods, Computed, Props>({
  name: 'RichInput',
  computed: {
    internalVal: {
      get(): string {
        return String(this.value)
      },
      set(val: string) {
        const num = Number(val);
        this.$emit('input', num)
      }
    }
  },
  watch: {
    value(newVal, oldVal) {
      if(Math.round(Number(newVal)) === Number(oldVal)) {
        this.internalVal = oldVal
      }
    }
  },
  props: {
    type: {
      validator(val) {
        const allowed: Props['type'][] = ['text', 'number', 'password'];
        return allowed.includes(val)
      }
    },
    value: [String, Number]
  }
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

.rich-input {
  @include border;
  padding: 0 10px;
  box-shadow: 0px 0px 2px 0 #3f3f3f;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0 20px 0;
}


input {
  border: none;
  background: transparent;
  // https://stackoverflow.com/a/42421490/9259778
  min-width: 0;
  padding: 10px 0;
  outline: none;
}

</style>
